.MenuButtonMobileActive{
    all: unset;
    display: none;

}
.MenuButtonMobileDesactivate{
    all: unset;
    transition: all 0.5ms;
    display: block;
    position: fixed;
    left: 2vw;
    top: 20px;
    z-index: 99;
    opacity: 1;
    width: 40px;
    height: 40px;
}
.imgMenuButton{
    width: 30px;
    height: 30px;
}
@media (min-width: 1024px) {
    .menuButton{
        display: none;
    }
}
