@media (min-width:1024px) {

    .menuButtonClose {
        all: unset;
        display: none;
    }
}

.menuButtonCloseUp {
    all: unset;
    display: none;
}

.menuButtonClose {
    all: unset;
    display: block;
    position: fixed;
    z-index: 98;
    left: 300px;
    top: 10px;
    width: 100vw;
    height: 100vh;
}