h2 {
  padding: 20px;
}
label {
  margin: 0px;
}
.productView-container {
  background-color: var(--gray_border);
  display: flex;
  flex-direction: column;
  font-family: var(--fuente_1);
}
.picture {
  border-radius: 15px;
  width: 90px;
  height: 70px;
  margin-right: 5px;
}
.picture img {
  width: 90px;
}
.containerButton {
  display: flex;
  justify-content: center;
}
.containerUploadImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subirImage {
  width: 120px;
  border-radius: 30px;
  font-size: 12px;
  padding: 2px;
  height: 30px;
  border: solid 1px var(--gray_border2);
}
#inputImg {
  width: 50%;
  max-width: 300px;
  max-width: 600px;
  height: 30px;
  padding-left: 6px;
}
.containerSubmitButton {
  display: flex;
  justify-content: flex-end;
}
.submitButton {
  width: 90px;
  border-radius: 30px;
  font-size: 12px;
  padding: 2px;
  height: 30px;
  margin: 5px 10px 5px 4px;
  margin-right: 0px;
  border: solid 1px var(--gray_border2);
}
/* COMIENZO CONTENEDOR DETALLES DE PRODUCTO */
.productView-container_detail {
  padding-top: 120px;
  padding-left: 15px;
  padding-right: 15px;
}
.productView-container_detailContainerMain {
  display: flex;
  flex-direction: row;
}

.productView-container_detailContainerMain img {
  border-radius: 10px;
  height: 100%;
}
.productView-container_detailContainerMain .picture {
  height: 100%;
}
.productView-container_detailContainer h4 {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-start;
}
.productView-container_formContainer h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container_detailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.container_detailContainer p {
  margin-right: 3px;
  margin-left: 3px;
}
.amount {
  font-size: 25px;
}
.amountDetail {
  vertical-align: middle;
  text-align: start;
  padding: 5px;
  font-size: 9px;
}

/* FIN CONTENEDOR DETALLES DE PRODUCTO */

/* COMIENZO CONTENEDOR FORM */
.productView-container_formContainer h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.productView-container_formContainer form {
  display: flex;
  flex-direction: column;
}

.productView-container_formContainer label {
  margin: 5px;
  font-size: 17px;
}
.inputForm {
  background-color: var(--white_letra);
  border: solid 1px var(--gray_border2);
  margin: 5px;
  border-radius: 25px;
  padding-left: 10px;
  outline: none;
}

.productView-container_formContainer input {
  width: 50%;
  max-width: 300px;

  height: 30px;
}
.productView-container_formContainer select {
  width: 50%;
  max-width: 300px;

  height: 30px;
}
.productView-container_formContainer textarea {
  width: 100%;
  max-width: 600px;
  padding: 15px;
}

.productView-container_formContainer div input {
  background-color: white;
  border-radius: 40px;
  width: 100px;
  height: 25px;
  margin: 5px;
  border: solid 1px var(--gray_border2);
}

.buttonStock {
  background-color: white;
  border: solid 1px var(--gray_border2);
  border-radius: 40px;
  width: 20px;
  height: 25px;
  margin: 5px;
  border: solid 1px var(--gray_border2);
}

/* FIN CONTENEDOR FORM  */

/* COMIENZO IMAGENES ACTUALES */

.productView-container_actualImgDetail {
  display: flex;
  background-color: var(--white_letra);
  border: solid 1px var(--gray_border2);
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-radius: 15px;
  margin-top: 10px;
}

.productView-container_actualImgDetail button {
  padding: 8px 15px;
  border-radius: 30px;
  border: solid 1px var(--gray_border2);
}

/* FIN IMAGENES ACTUALES */
@media (min-width: 576px) {
  .productView-container_actualImgDetail {
    width: 565px;
  }
}
@media only screen and (min-width: 768px) {
  .productView-container_formContainer input {
    width: 25%;
  }
  .productView-container_formContainer select {
    width: 25%;
  }
  .productView-container_formContainer textarea {
    width: 50%;
  }
}
@media only screen and (max-width: 380px) {
  .productView-container_detailContainerMain {
    flex-direction: column;
  }
}

.darkTheme .productView-container {
  background-color: var(--black_background);
}
.darkTheme .inputForm {
  background-color: var(--gray_background2);
  border: 1px solid var(--gray_border);
  color: var(--gray_background);
}
.darkTheme .productView-container_actualImgDetail {
  background-color: var(--gray_background2);
  color: var(--gray_background);
  border: 1px solid var(--gray_border);
}
.darkTheme .productView-container button {
  background-color: var(--gray_background);
  color: var(--white_letra);
  border: none;
}
