.switcherContainer{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 15px;
}

.switcher {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switcher input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .7s;
    transition: .7s;
  }
  
  /* boton */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .7s;
    transition: .7s;
  }
  
  /* movimiento */
  input:checked + .slider {
    background-color: var(--gray_background);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #FFF;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .iconTheme img{
    height: 90%;
    margin-right: 10px;
  }
