.sideBar--button_user{
    display: flex;
    align-items: center;
    background-color: var(--gray_background);
    width: 100%;
    height: 40px;
    border-radius: 18px ;
    margin-bottom: 10px;
    padding: 0 5px;
    border: 0px;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
    transition: all 1s;
};
.sideBar--button_user:hover{
    transform:scale(1.2);
    transition: all 1s;
}

.profilePic{
    border: 12px solid red;
    max-width: 20px;
    max-height: 20px;
}




