#addProductBtn {
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 400px;
  padding: 1px 15px 2px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
  display: grid;
  place-items: center;
  font-size: 0.85rem;
}
#addProductBtn:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}
.darkTheme #addProductBtn {
  border-color: var(--white_letra);
  color: var(--white_letra);
}
.iconContainer {
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 576px) {
  #addProductBtn {
    border: none;
  }
}
