/*ProductList*/
.productList {
  padding: 5px 10px 20px 10px;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 78px;
}
.productList {
  margin-bottom: 20px;
}
.productList a {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 8px;
  color: var(--black_letra);
}
.productList__article {
  margin: 6px 0;
  border-radius: 15px;
  background-color: var(--white_letra);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid transparent;
}
.productList__article:hover {
  border: 1px solid var(--green);
}
.productList__article a > :nth-child(3) {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.productList__article__img {
  border-radius: 7px;
  width: 60px;
  height: 60px;
}
.product__article__specification {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 15px 0;
}
.product__article__specification a > :nth-child(2) {
  font-size: 0.8rem;
}
.productNotFound {
  text-align: center;
  font-size: 2rem;
  height: 100%;
  display: grid;
  place-items: center;
}
.productNotFound img {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}
.productList__productsLoader {
  height: 100%;
  display: grid;
  place-items: center;
}
.productList__imagesLoader {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}
.darkTheme .productList__article {
  background-color: var(--black_background);
}
.darkTheme .productList a {
  color: var(--white_letra);
}
.darkTheme .productNotFound {
  color: var(--white_letra);
}
