.articleHome__conteinerLink {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-left: auto;
}
.articleHome__conteinerLink__link {
  text-decoration: none;
  background-color: var(--gray_background);
  border-radius: 14px;
  color: var(--white_letra);
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: grid;
  place-items: center;
}
.articleHome__conteinerLink > :nth-child(1) {
  width: 65px;
}
.articleHome__conteinerLink > :nth-child(2) {
  width: 100px;
}

@media (min-width: 768px) {
  .articleHome__conteinerLink__link {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .articleHome__conteinerLink > :nth-child(1) {
    width: 70px;
  }
  .articleHome__conteinerLink > :nth-child(2) {
    width: 120px;
  }
}

@media (min-width: 1200px) {
  .articleHome__conteinerLink__link {
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .articleHome__conteinerLink > :nth-child(1) {
    width: 100px;
  }
  .articleHome__conteinerLink > :nth-child(2) {
    width: 160px;
  }
}
