/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--fuente_1);
}

:root {
  --white_letra: #ffffff;
  --black_letra: #000;
  --gray_border: #e1e0e0;
  --green: #0cb093;
  --gray_background: #757575;
  --gray_background2: #333333;
  --black_background: #222222;
  --gray_border2: #b0b0b0;
  --fuente_1: "Open Sans", sans-serif;
}

.App {
  background-color: var(--gray_border);
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #0cb093;
}
a:active {
  text-decoration: none;
  color: #0cb093;
}

.dark .SideBar {
  background-color: var(--gray_background);
}

/* Small devices (phones, 576px and up) */
/* @media (min-width: 576px) { ... } */
/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */
/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
  .App {
    padding-left: 296px;
  }
}
/********* darkTheme Styles *********/

html .darkTheme,
a {
  color: #ffffff;
}
/* dark icon */
.darkTheme .icon {
  filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(313deg)
    brightness(104%) contrast(102%);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
